# Dépendances
node_modules/

# Build / cache Next.js
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
